PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/dd_finserve
# For MongoDB Atlas (Cloud), use:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/dd_finserve?retryWrites=true&w=majority
NODE_ENV=development
